-var pageTitle = "Online TV"

doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include styles/normalize.css
      include styles/style.css
  body
    include modules/header
    
    section.section-banner
      img(src="images/banner/banner-bg_1.jpg", alt="Banner").section-banner__image
      .container
        .banner   
          h1.banner__title Zack Snyder's</br>Justice League
          .banner-info 
            span.banner-info__year 2021
            span.banner-info__age 18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8
          p.banner__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos vitae non dolorum et aliquam nisi doloremque animi rerum voluptatibus. Officiis quam sunt iure! Exercitationem, quo minima aliquid incidunt et maiores, omnis rem quam ipsam soluta doloremque est ducimus quod magni voluptas, molestias aperiam labore qui! Provident asperiores necessitatibus quaerat est.
          .banner-control 
            button.banner-control__btn.banner-control__btn-main Watch
            button.banner-control__btn.banner-control__btn-more More information
    section.section 
      #Trending_Movies
      .container 
        h2.section__h2
          a(href="#").section__h2-link Trending Movies
        .movies
          .movies-item
            a(href="#").movies__link
              img(src="images/movies/1.jpg", alt="move-1").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/movies/2.jpg", alt="move-1").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/movies/3.jpg", alt="move-3").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/movies/4.jpg", alt="move-4").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/movies/5.jpg", alt="move-5").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/movies/6.jpg", alt="move-6").movies__img
    section.section 
      #TV_Shows
      .container 
        h2.section__h2
          a(href="#").section__h2-link Trending TV Shows
        .movies
          .movies-item
            a(href="#").movies__link
              img(src="images/shows/1.jpg", alt="shows-1").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/shows/2.jpg", alt="shows-2").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/shows/3.jpg", alt="shows-3").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/shows/4.jpg", alt="shows-4").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/shows/5.jpg", alt="shows-5").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="images/shows/6.jpg", alt="shows-6").movies__img
        button.section__btn See more
    section.section
      #Actors
      .container 
        h2.section__h2
          a(href="#").section__h2-link Popular Actors & Derectors
        .actors 
          .actors-item
            a(href="#").actors__link
              img(src="./images/people/1.jpg", alt="peaple-1").actors__img
            h3.actors__title Samanta Bowen
          .actors-item
            a(href="#").actors__link
              img(src="./images/people/6.jpg", alt="peaple-6").actors__img
            h3.actors__title Rhys Birch
          .actors-item
            a(href="#").actors__link
              img(src="./images/people/3.jpg", alt="peaple-3").actors__img
            h3.actors__title Joshua Walton
          .actors-item
            a(href="#").actors__link
              img(src="./images/people/4.jpg", alt="peaple-4").actors__img
            h3.actors__title Patrick Elliott
          .actors-item
            a(href="#").actors__link
              img(src="./images/people/5.jpg", alt="peaple-5").actors__img
            h3.actors__title  Morgan O'Neill
          .actors-item
            a(href="#").actors__link
              img(src="./images/people/2.jpg", alt="peaple-2").actors__img
            h3.actors__title James Holloway  
    section.section 
      .container 
        .marketing
          .marketing-item 
            a(href="").marketing__link
              img(src="images/announcement/marketing01.png", alt="").marketing__img
          .marketing-item 
            a(href="").marketing__link
              img(src="images/announcement/marketing02.png", alt="").marketing__img
    section.section 
      .container 
        .offer
          h2.offer__title Are You New Here?</br> Don't&nbsp;Wait, Register Now.
          button.offer__btn Register
    
    
    
    include modules/footer