header 
  .header 
    a(href="")
      img(src="images/logo/icon.svg", alt="logo")
    nav 
      ul.nav 
        li.nav-item 
          a(href="").nav-link.active Home 
        li.nav-item 
          a(href="#Trending_Movies").nav-link Movies
        li.nav-item 
          a(href="#TV_Shows").nav-link Tv Shows 
        li.nav-item 
          a(href="#Actors").nav-link Actors 
    ul.control 
      li.control-item 
        button.control-btn.control-btn_search 
      li.control-item 
        button.control-btn.control-btn_notice
      li.control-item 
        button.control-btn.control-btn_account